.zoom-in__cursor {
  cursor: zoom-in;
}

.pointer__cursor {
  cursor: pointer;
}

.ne-resize__cursor {
  cursor: ne-resize;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
